{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <style>

        .block {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .table {
            display: flex;
            flex-direction: column;
        }
        thead {
            margin-bottom: 10px;
        }
        td, th {
            width: 200px;
            white-space: normal;
            text-align: center;
        }
        td {
            border-top: 1px solid;
            padding: 10px 0;
        }

        button > *{
            text-decoration: none;
            color: rgb(76, 76, 76);
            text-transform: capitalize;
        }

    </style>

    <div class="block">

    <h1>{% trans %}ListProduct{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Family{% endtrans %}</th>
                <th>{% trans %}Type{% endtrans %}</th>
                <th>{% trans %}DateExp{% endtrans %}</th>
                <th>{% trans %}DateOp{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.family }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.expireAt ? product.expireAt|date('d-m-y') : '' }}</td>
                <td>{{ product.DateOpen ? product.DateOpen|date('d-m-y') : '' }}</td>
                <td>
                    <button><a href="{{ path('product_show', {'id': product.id}) }}">{% trans %}Detail{% endtrans %}</a></button>
                    <button><a href="{{ path('product_edit', {'id': product.id}) }}">{% trans %}Edit{% endtrans %}</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{% trans %}NoRecord{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <button><a href="{{ path('product_new') }}">Ajouter un produit</a></button>

    </div>
{% endblock %}
